*{
    box-sizing: border-box;
}

body{
    justify-content: center;
    width: 1000px;
    height: 700px;
    border: 4px rgb(137, 117, 117) solid;
    padding: 50px;
    margin: auto;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;


}

.text-content{
    width: 100%;
    position: relative;
    font-size: x-large;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}

.text-sample{
    color: rgb(255, 255, 255);
    text-align: center;  
    margin-bottom: 200px; 
    font-size: larger;
}

.text-area{
    
    position: absolute;
    border: 5px solid grey;
    border-radius: 10px;
    width: 100%;
    font-size: larger;
}

.timer{
    width: 50%;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(105, 206, 105);
    color: rgb(46, 13, 235);
    padding: 20px;
    margin: 80px 200px;
    font-size: x-large;
    font-weight: bolder;
    font-size: 300%;
    text-align: center;
    letter-spacing: 5px;
}

.reset{
    width: 50%;
    border: rgb(255, 255, 255) 2px solid;
    background-color: rgb(148, 148, 148);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0 200px;
    font-size: x-large;
    
}

.reset:hover{
    background-color: brown;
}